<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/tutorials}">TutoList</a>
<a th:href="@{/tutorials/add}">Add Tutorial</a>
<a th:href="@{/author/login}">Inscription/Connexion</a>
<h1>Tutoriels :</h1>
<ul>
    <li th:each="tuto : ${tutos}">
       <p>ID : <span th:text="${tuto.id}"> </span> </p>
       <p>Titre : <span th:text="${tuto.name}"></span></p>
       <p>Date de Création :<span th:text="${tuto.createDate}"></span></p>
        <p>Description :<span th:text="${tuto.description}"></span></p>
        <p>Auteur :<span th:text="${tuto.author.firstname}"></span></p>
    </li>
</ul>
</body>
</html>
